body{
    background-color: pink;
}

.container{
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    width:400px;
    background-color: bisque;
}

.game{  
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}

#previous-guess{
    background-color: grey;
    color:white;
}

#guess-num{
    margin-bottom: 20px;
}
